{% extends '@layout/default.html.twig' %}

{% block title %}dataStore{% endblock %}

{% block content %}
    <div class="row">
        <h2>DataStore</h2>
        {% if data is iterable %}
            <ul>
                {% for item in data %}
                <li> {{ dump(item) }}
                <li>
                    {% endfor %}
            </ul>
        {% else %}
            {{ dump(data) }}
        {% endif %}
    </div>
{% endblock %}
