version: "3.8"

services:
  rollun-datastore-nginx:
    build:
      context: docker/nginx
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www/app
    ports:
      - 8080:80
    depends_on:
      - rollun-datastore-php-fpm

  rollun-datastore-php-fpm:
    image: maxrollundev/php-fpm-dev-8.0
    volumes:
      - ./:/var/www/app
    environment:
      PHP_IDE_CONFIG: serverName=rollun-datastore
      DB_NAME: app
      DB_USER: app
      DB_PASS: secret
      DB_HOST: rollun-datastore-mysql
      DB_PORT: 3306
      TEST_HOST: http://rollun-datastore-nginx/
    depends_on:
      - rollun-datastore-mysql

  rollun-datastore-mysql:
    image: mysql:8
    command: mysqld --default-authentication-plugin=mysql_native_password
    volumes:
      - mysql:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_USER: app
      MYSQL_PASSWORD: secret
      MYSQL_DATABASE: app
    ports:
      - 33061:3306

volumes:
  mysql: