<phpunit bootstrap="test/bootstrap.php" colors="true" convertWarningsToExceptions="false">

    <testsuites>
        <testsuite name="unit">
            <directory>./test/unit</directory>
        </testsuite>

        <testsuite name="functional">
            <directory>./test/functional</directory>
        </testsuite>

        <testsuite name="intagration">
            <directory>./test/intagration</directory>
        </testsuite>
    </testsuites>


    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
