<phpunit bootstrap="test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="rollun\\test\\datastore\\">
            <file>./test/DataStoreTest/DataStore/HttpClientTest.php</file>
        </testsuite>
    </testsuites>


    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
